*{
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  body{
    background-color: deeppink;
  }
  /*
  section{
    margin-top: 4vw;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 40vw;
    background-color: #ffffff;
    border-radius: 5vw;
    box-shadow: 20px -16px pink;
  }
  */