* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
body {
  background-color: deeppink;
}
  
header p {
  font-size: 3vw;
  text-align: center;
  padding-top: 2vw;
  font-weight: bold;
}
  
section {
  margin-top: 3vw;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-bottom: 2vw;
  background-color: #ffffff;
  border-radius: 5vw;
  box-shadow: 20px -16px pink;
}
  
section article img {
  display: inline;
  margin-top: 3vw;
  margin-left: 2vw;
  height: 5vw;
  width: 5vw;
}
  
section article {
  margin-left: 5vw;
  margin-top: 1vw;
  margin-right: 5vw;
  margin-bottom: 1vw;
}
  
div {
  position: relative;
  font-size: 2vw;
}
  
div p {
  text-align: 2vw;
  padding-left: 10vw;
  position: absolute;
  top: 4vw;
}
  
section article a button {
  margin-top: 5vw;
  margin-left: 28vw;
  height: 3vw;
  width: 13vw;
  border-radius: 2vw;
  border: none;
  background-color: hotpink;
  cursor: pointer;
}
  
section article a button:hover {
  background-color: deeppink;
  color: white;
}
  
  