*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  body {
    background-color: white;
  }
  
  nav{
    top: 0;
    background-color: DeepPink;
  }
  
  nav header {
    position: absolute;
    color: white;
    font-size: 3vw;
    padding-top: 2%;
    padding-left: 5vw;
  }
  
  ul {
    list-style-type: none;
    overflow: hidden;
    margin-left: 25vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    padding-left: 5vw;
    text-decoration: none;
    font-size: 2vw;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown #cachorro{
    color: black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 11vw;
    margin-left: 3vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 1vw;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  nav #login img{
    position: absolute;
    top: 3vw;
    left: 90vw;
    width: 3vw;
    height: 3vw;
  }
  
  nav #sacola img{
    position: absolute;
    top: 3vw;
    left: 85vw;
    width: 3vw;
    height: 3vw;
  }
  
  /* Configuração dos quadrados */
  section .article1{
    margin-left: 4vw;
  }
  
  /* Efeito ao colocar o mouse em cima dos quadrados */
  section article div:hover {
    position: relative;
    top: -10px;
    box-shadow: 0 5px 5px #999;
    transition: all .2s ease-in-out;
  }
  
  /* Imagens dos scrool */
  article div img{
    height: 10vw;
    width: 10vw;
    margin-left: 5vw;
  }
  
  /* Preço */
  section .article1 div p{
    text-align: center;
    font-size: 2vw;
  }
  
  /* Primeiro scrool horizontal */
  .section1{
    background-color: pink;
  }
  
  /* Cabeçalho do primeiro scrool */
  section .article1 header{
    text-align: center;
    font-size: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  
  /* Informações e imagem do primeiro scrool */
  section .article1 div{
    display: inline-block;
    background-color: white;
    height: 20vw;
    width: 20vw;
    padding-top: 2vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
    border: 1px solid hotpink;
    border-radius: 2vw;
  }
  
  section .article1 div button{
    margin-left: 4vw;
    margin-top: 1vw;
    height: 3vw;
    width: 12vw;
    border: none;
    background-color: hotpink;
    border-radius: 2vw;
    cursor: pointer;
  }
  
  section .article1 div button:hover{
    background-color: DeepPink;
    color: white;
  }
  
  /* Segundo scrool horizontal */
  .section2{
    background-color: pink;
  }
  
  /* Cabeçalho do segundo scrool */
  section .article2 header{
    text-align: center;
    font-size: 2vw;
    margin-top: 2vw;
    margin-bottom: 3vw;
  }
  
  /* Informações e imagem do segundo scrool */
  section .article2 div{
    display: inline-block;
    background-color: white;
    height: 20vw;
    width: 20vw;
    padding-top: 2vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
    border: 1px solid hotpink;
    border-radius: 2vw;
  }
  
  /* Configuração dos quadrados */
  section .article2{
    margin-left: 4vw;
  }
  
  /* Informações e imagem do segundo scrool */
  section .article2 div button{
    margin-left: 4vw;
    margin-top: 1vw;
    height: 3vw;
    width: 12vw;
    border: none;
    background-color: hotpink;
    border-radius: 2vw;
    cursor: pointer;
  }
  
  section .article2 div button:hover{
    background-color: DeepPink;
    color: white;
  }
    
  /* Preço */
  section .article2 div p{
    text-align: center;
    font-size: 2vw;
  }
  
  