* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  
body {
  background-color: #C71585;
}
    
section {
  position: relative;
  border-radius: 5vw;
  background-color: white;
  width: 70vw;
  height: 35vw;
  margin-top: 6vw;
  margin-bottom: 6vw;
  margin-left: 15vw;
  margin-right: 15vw;
}
  
#imagem img {
  position: absolute;
  width: 43vw;
  height: 35vw;
}
  
#texto {
  position: absolute;
  left: 43vw;
  color: black;
  text-align: center;
}
  
header {
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  background-color: hotpink;
  color: white;
  font-size: 20px;
  margin-top: 1vw;
  padding-bottom: 20px;
  padding-top: 10px;
  height: 1vw;
  width: 15vw;
}
  
article p {
  margin-top: 4vw;
  font-size: 2vw;
}
  
article form {
  margin-top: 4vw;
}
  
form .input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
  
form label {
  font-size: 20px;
}
  
#botao {
  height: 3vw;
  width: 13vw;
  font-size: 15px;
  margin-top: 3vw;
  padding-bottom: 20px;
  padding-top: 10px;
  border-radius: 2vw;
  border: transparent;
  background-color: hotpink;
  color: white;
  cursor: pointer; 
}
  
section article #botao:hover {
  background-color: DeepPink;
}
  
article #cadastro p {
  font-size: 20px;
  margin-top: 2vw;
}
  
  